.div-abuelo {
  height: 300px;
  width: 300px;
  margin: 20px;
}

.div-padre {
  height: 200px;
  width: 200px;
  position: relative;
  top: 50px;
  left: 50px;
}

.div-hijo {
  height: 100px;
  width: 100px;
}
