.div-abuelo {
  height: 300px;
  width: 300px;
  margin: 1% 41%;
}

.div-padre {
  height: 150px;
  width: 150px;
  position: relative;
  top: 75px;
  left: 75px;
}

.div-hijo {
  height: 75px;
  width: 75px;
}
